@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
.seccion-carousel h2, .videoMaceta h2, .mpromo section article h2, h3, .hpromo, h2 {
  font-size: 4vh;
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
  background-color: rgb(87, 144, 144);
  margin-top: 1em;
  width: 100vw;
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 3em;
}

.header-descuento {
  display: flex;
  background: linear-gradient(to top, rgb(178, 218, 218), rgb(87, 144, 144));
  color: aliceblue;
  height: 4vh;
  width: auto;
}
.header-descuento .header-text {
  align-content: center;
  font-size: 1.3em;
  line-height: 1.5em;
  margin: auto;
}
.header-descuento .btn-close {
  text-align: end;
  margin-right: 5%;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background: aliceblue;
}
.navbar .navbar-toggler {
  margin-top: 1em;
}
.navbar .collapse form {
  margin-top: 2vw;
}
.navbar .collapse form button {
  border-style: none;
  background-color: aliceblue;
  margin-left: 4vw;
}

.config {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 1.5em;
}
.config li a {
  margin-right: 5vw;
}
.config li a .bi {
  color: rgb(87, 144, 144);
}

.seccion-carousel, .videoMaceta, .mpromo section article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  color: rgb(87, 144, 144);
  font-size: 3vh;
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-right: 20px;
}

.row article {
  margin-left: 6px;
  margin-right: 6px;
  display: flex;
  align-items: center;
}

.mpromo section article img {
  width: 70vw;
  height: 70vw;
  align-content: center;
  margin-top: 2vw;
  margin-bottom: 6vw;
  object-fit: cover;
}

.form-check-label {
  font-family: "Gill Sans", sans-serif;
  color: rgb(87, 144, 144);
}

.form-check-input {
  border-color: rgb(87, 144, 144);
}

.btnContacto {
  background-color: rgb(87, 144, 144);
  color: aliceblue;
  padding: 5px;
  font-weight: 200;
  font-style: italic;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 6px;
  border: none;
}

#imgcarousel {
  width: 90vw;
  height: 90vw;
  object-fit: cover;
}

.d-grid {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}
.d-grid a button {
  flex-direction: row;
  background-color: rgb(87, 144, 144);
  color: aliceblue;
}

.imgCatalogo {
  width: 80vw;
  height: 80vw;
  margin-top: 8vw;
  margin-bottom: 1vw;
  object-fit: cover;
  margin-left: 10vw;
}

.navCatalogo {
  margin: auto;
  margin-top: 4vw;
}
.navCatalogo select {
  color: aliceblue;
  background-color: rgb(87, 144, 144);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  width: 50vw;
}

.navCatalogo2 {
  display: flex;
  flex-direction: column;
  margin-top: 4vw;
}
.navCatalogo2 span {
  color: aliceblue;
  background-color: rgb(87, 144, 144);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  align-content: center;
  margin-bottom: 3vw;
}
.navCatalogo2 span b {
  margin-left: 4vw;
}
.navCatalogo2 ul li label {
  color: rgb(87, 144, 144);
  font-weight: 400;
}
.navCatalogo2 ul li input {
  margin-left: 4vw;
  height: 4vw;
  width: 4vw;
}

.textMaceta {
  margin-top: 7em;
}
.textMaceta h2 {
  text-align: center;
  font-size: 4vh;
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
  background-color: rgb(87, 144, 144);
}

.text {
  color: rgb(87, 144, 144);
  font-weight: 400;
  margin-top: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1em;
  text-align: center;
}

.fotoPersona {
  width: 80vw;
  height: 80vw;
  margin-left: 10vw;
  margin-top: 10vw;
}

.videoMaceta {
  margin-top: 7em;
}
.videoMaceta h2 {
  text-align: center;
  font-size: 4vh;
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
  background-color: rgb(87, 144, 144);
  width: 100vw;
}

.card {
  margin-top: 1.5em;
  background-color: aliceblue;
  color: rgb(87, 144, 144);
  width: 85vw;
}

.seccion-carousel, .mpromo section article, .videoMaceta {
  margin-top: 30px;
}

.map {
  width: 75vw;
  height: 75vw;
  margin-left: 12.5vw;
}

section ul li ul li {
  list-style: none;
}

.pie {
  margin-top: 7em;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  color: aliceblue;
  padding-bottom: 1em;
}
.pie h2 {
  text-align: center;
  font-size: 4vh;
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.pie .piemenosh2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pie .piemenosh2 .creditcards1 {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}
.pie .piemenosh2 .creditcards2 {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}
.pie .piemenosh2 .socialweb {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.pie .piemenosh2 .socialweb svg {
  margin-left: 5vw;
  margin-right: 5vw;
  color: aliceblue;
}

@media (width > 768px) {
  .config {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .config li a svg {
    width: 2.5vw;
    height: 2.5vw;
    margin-bottom: 5px;
  }
  .collapse ul li a {
    text-align: center;
    font-size: 3vh;
    font-weight: 150;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(238, 229, 229);
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding: 5px 3px;
    width: 13vw;
  }
  .navbarLogo a img {
    width: 11vw;
    height: 11vw;
    margin-left: 2px;
  }
  .nav-inicio a {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
  }
  .nav-contacto a {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
  }
  .videocard {
    display: flex;
    flex-direction: row;
  }
  .card {
    width: 40vw;
    height: 40vw;
  }
  #cardone {
    margin-right: 8vw;
  }
  .navbar {
    display: flex;
    flex-direction: row;
  }
  .collapse {
    display: flex;
    flex-direction: column;
  }
  .collapse ul {
    margin: auto;
  }
  .collapse form {
    margin: auto;
  }
  #dropdown1, #dropdown2, #dropdown3 {
    color: rgb(87, 144, 144);
    width: 100%;
    height: 100%;
    background-color: rgb(238, 229, 229);
  }
  .mpromo section article {
    display: flex;
    flex-direction: row;
  }
  .mpromo section article img {
    width: 28.3vw;
    height: 28.3vw;
    margin-top: 2vw;
    margin-bottom: 6vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    flex-wrap: wrap;
    flex-direction: row;
    object-fit: cover;
  }
  .promosinh {
    display: flex;
    flex-direction: row;
  }
  .navCatalogo2 {
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
  }
  .navCatalogo2 span {
    color: aliceblue;
    background-color: rgb(87, 144, 144);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    align-content: center;
    margin-bottom: 3vw;
  }
  .navCatalogo2 span b {
    margin-left: 4vw;
  }
  .navCatalogo2 ul li label {
    color: rgb(87, 144, 144);
    font-weight: 400;
    font-size: 2.5vw;
  }
  .navCatalogo2 ul li input {
    margin-left: 4vw;
    height: 3vw;
    width: 3vw;
  }
  .imgCatalogo {
    width: 28.3vw;
    height: 28.3vw;
    margin-top: 2vw;
    margin-bottom: 6vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    flex-wrap: wrap;
    flex-direction: row;
    object-fit: cover;
  }
  .catalogoStock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .catalogoStock article p {
    width: 28.3vw;
    height: 28.3vw;
    margin-top: 2vw;
    margin-bottom: 6vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    flex-wrap: wrap;
    flex-direction: row;
    object-fit: cover;
  }
  .fotoPersona {
    width: 50vw;
    height: 50vw;
    margin-left: 25vw;
  }
  #imgcarousel {
    width: 90vw;
    height: 90vw;
  }
}

/*# sourceMappingURL=main.css.map */
