.pie {
    margin-top: 7em;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    color: $secondaryColor;
    padding-bottom: $Sm;
    h2 {
        text-align: $center;
        font-size: 4vh;
        font-weight: $txtRegular;
        font-family: $secondaryFont;
    }
    .piemenosh2 {
        display: flex;
        flex-direction: row;
        align-items: $center;
        .creditcards1 {
            display: flex;
            flex-direction: column;
            margin-left: 6px;
        }
        .creditcards2 {
            display: flex;
            flex-direction: column;
            margin-right: 6px;
        }
        .socialweb {
            display: flex;
            flex-direction: row;
            margin: auto;
            svg {
                margin-left: 5vw;
                margin-right: 5vw;
                color: $secondaryColor;
            }
        }
    }
}







