@media (width > 768px) {
    
    .config {
        @include flex (column);
        align-items: $end;
        li {
            a {
                svg {
                    width: 2.5vw;
                    height: 2.5vw;
                    margin-bottom: 5px;
                }
            }
        }
    }
    

    .collapse {
        ul {
            li {
                a {
                    text-align: $center;
                    font-size: 3vh;
                    font-weight: 150;
                    font-family: $thirdlyFont;
                    color: $white;
                    background-color: $mainColor;
                    padding: 5px 3px;
                    width: 13vw;
                }
            }
        }
    }

    .navbarLogo {
        a {
            img {
                width: 11vw;
                height: 11vw;
                margin-left: 2px;
            }
        }
    }

    .nav-inicio {
        a {
            border-top-left-radius: 9px;
            border-bottom-left-radius: 9px;
        }
    }

    .nav-contacto {
        a {
            border-top-right-radius: 9px;
            border-bottom-right-radius: 9px;
        }
    }
    
    .videocard {
        @include flex (row);
    }

    .card {
        width: 40vw;
        height: 40vw;
    }

    #cardone {
        margin-right: 8vw;
    }

    .navbar {
        @include flex (row);
    }

    .collapse {
        @include flex (column);
        ul{
            margin: auto;
        }
        form {
            margin: auto;
        }
    }


        

    #dropdown1, #dropdown2, #dropdown3 {
        color: $mainColor;
        width: 100%;
        height: 100%;
        background-color: $white;
    }

.mpromo {
    section {
        article {
            @include flex (row);
            img {
                width: 28.3vw;
                height: 28.3vw;
                margin-top: 2vw;
                margin-bottom: 6vw;
                margin-left: 2.5vw;
                margin-right: 2.5vw;
                flex-wrap: wrap;
                flex-direction: row;
                object-fit: cover;
            }
        }
    }
}

.promosinh {
    @include flex (row);
}

.navCatalogo2 {
    @include flex (column);
    margin-top: 4vw;
    span {
        color: $secondaryColor;
        background-color: $mainColor;
        font-family: $mainFont;
        font-weight: $txtRegular;
        font-size: 1.2em;
        align-content: $center;
        margin-bottom: 3vw;
        b {
            margin-left: 4vw;
        }
    }
    ul {
        li {
            label {
                color: $mainColor;
                font-weight: 400;
                font-size: 2.5vw;
            }
            input {
                margin-left: 4vw;
                height: 3vw;
                width: 3vw;
            }
        }
    }
}

.imgCatalogo {
    width: 28.3vw;
    height: 28.3vw;
    margin-top: 2vw;
    margin-bottom: 6vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    flex-wrap: wrap;
    flex-direction: row;
    object-fit: cover;
}

.catalogoStock {
    @include flex (row);
    flex-wrap: wrap;
    article {
        p {
            width: 28.3vw;
            height: 28.3vw;
            margin-top: 2vw;
            margin-bottom: 6vw;
            margin-left: 2.5vw;
            margin-right: 2.5vw;
            flex-wrap: wrap;
            flex-direction: row;
            object-fit: cover;
        }
    }
}
 
.fotoPersona {
    width: 50vw;
    height: 50vw;
    margin-left: 25vw;
}


}