.header-descuento {
    display: flex;
    background: linear-gradient(to top, rgb(178, 218, 218), $mainColor);
    color: $secondaryColor;
    height: 4vh;
    width: auto;
    .header-text {
        align-content: $center;
        font-size: 1.3em;
        line-height: 1.5em;
        margin: auto;
    }
    .btn-close {
        text-align: $end;
        margin-right: 5%;
    }
}

.navbar {
    @include flex (column);
    align-items: $center;
    padding-top: $Sm;
    padding-bottom: $Sm;
    background: $secondaryColor;

    .navbar-toggler {
        margin-top: $Sm;
    }
    .collapse {
        form {
            margin-top: 2vw;
            button {
            border-style: none;
            background-color: $secondaryColor;
            margin-left: 4vw;
            }
        }
    }
}
.config {
    @include flex (row);
    list-style-type: none;
    margin-top: 1.5em;
    li{
        a{
            margin-right: 5vw;
            .bi {
                color: $mainColor;             ;
            }
        }
    }
}

