.seccion-carousel {
    @include flex (column);
    align-items: $center;
    
}

.form-label {
    color: $mainColor;
    font-size: 3vh;
    font-weight: 300;
    font-family: $secondaryFont;
    margin-right: 20px;
}
.row {
    article {
    margin-left: 6px;
    margin-right: 6px;
    display: flex;
    align-items: $center;
    }
}

.mpromo {
    section {
        article {
            @extend .seccion-carousel;
            img {
                width: 70vw;
                height: 70vw;
                align-content: $center;
                margin-top: 2vw;
                margin-bottom: 6vw;
                object-fit: cover;
            }
        }        
    }
}



.form-check-label {
    font-family: $keyFont;
    color: $mainColor;
}
.form-check-input {
    border-color: $mainColor;
}
.btnContacto {
    background-color: $mainColor;
    color: $secondaryColor;
    padding: 5px;
    font-weight: 200;
    font-style: italic;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 6px;
}

#imgcarousel {
    height: 100vh;
    object-fit: cover;
}

.d-grid {
    margin-top: 1em;
    @include flex (row);
    a {
        button {
            flex-direction: row;
            background-color: $mainColor;
            color: $secondaryColor;
        }
    }
}

.imgCatalogo {
    width: 80vw;
    height: 80vw;
    margin-top: 8vw;
    margin-bottom: 1vw;
    object-fit: cover;
    margin-left: 10vw;
}

.navCatalogo {
    margin: auto;
    margin-top: 4vw;
    select {
        color: $secondaryColor;
        background-color: $mainColor;
        font-family: $mainFont;
        font-weight: $txtRegular;
        font-size: 1.2em;
        width: 50vw;
    }
}

.navCatalogo2 {
    @include flex (column);
    margin-top: 4vw;
    span {
        color: $secondaryColor;
        background-color: $mainColor;
        font-family: $mainFont;
        font-weight: $txtRegular;
        font-size: 1.2em;
        align-content: $center;
        margin-bottom: 3vw;
        b {
            margin-left: 4vw;
        }
    }
    ul {
        li {
            label {
                color: $mainColor;
                font-weight: 400;
            }
            input {
                margin-left: 4vw;
                height: 4vw;
                width: 4vw;
            }
        }
    }
}




.textMaceta {
    margin-top: 7em;
    h2 {
        text-align: $center;
        font-size: 4vh;
        font-weight: 300;
        font-family: $secondaryFont;
        color: $secondaryColor;
        background-color: $mainColor;
    }

}


.text {
    color: $mainColor;
    font-weight: 400;
    margin-top: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1em;
    text-align: $center;
}

.fotoPersona {
    width: 80vw;
    height: 80vw;
    margin-left: 10vw;
    margin-top: 10vw;
}


.videoMaceta {
    @extend .seccion-carousel;
    margin-top: 7em;
    h2 {
        text-align: $center;
        font-size: 4vh;
        font-weight: $txtRegular;
        font-family: $secondaryFont;
        color: $secondaryColor;
        background-color: $mainColor;
        width: 100vw;
    }
}

.card {
    margin-top: 1.5em;
    background-color: $secondaryColor;
    color: $mainColor;
    width: 85vw;
}

.seccion-carousel {
    margin-top: 30px;
}

.map {
    width: 75vw;
    height: 75vw;
    margin-left: 12.5vw;
}

section {
    ul {
        li {
            ul {
                li {
                    list-style: none;
                    
                }
            }
        }
    }
}