$mainColor: rgb(87, 144, 144);
$secondaryColor: aliceblue;
$black: rgb(14, 14, 14);
$white: rgb(238, 229, 229);

$mainFont: 'Roboto', sans-serif;
$secondaryFont: Georgia, 'Times New Roman', Times, serif;
$thirdlyFont: Arial, Helvetica, sans-serif;
$keyFont: 'Gill Sans', sans-serif;

$Md: 3em;
$Bg: 4em;
$Sm: 1em;

$txtLight: 200;
$txtRegular: 300;



$center: center;
$end: end;
